.b-header {
  font-family: 'Alegreya Sans';
}

.content {
  font-family: 'Alegreya Sans';
}
.description-text {
  padding-left: 6%;
  font-family: 'Alegreya Sans';
  overflow: hidden;
}

.d-pad {
  margin-left: 12%;
}

.subt {
  color:silver;
}

.mar {
  margin-left: 3%;
  margin-right: 3%;
}

.submit-table {
  width: 70%;
  table-layout: fixed;
}

.impression-table {
  width: 95%;
  table-layout: fixed;
}

.song-table {
  table-layout: fixed;
}

.sidebar {
}

.footer {
  position: static;
  bottom: 0;
}
