.b-header {
  font-family: 'Alegreya Sans';
}

.content {
  font-family: 'Alegreya Sans';
}
.description-text {
  padding-left: 2%;
  font-family: 'Alegreya Sans';
  overflow: hidden;
}

.d-pad {
  margin-left: 12%;
}

.subt {
  color:silver;
}

.mar {
  margin-left: 3%;
  margin-right: 3%;
}

.submit-table {
  width: 70%;
  table-layout: fixed;
}

.impression-table {
  width: 95%;
  table-layout: fixed;
}

.song-table {
  table-layout: fixed;
}

.logo {
}

.sidebar {
}

body {
    background-color: rgb(252,252,252);
}

.banner {
}

.content {
    border-radius: 12px;
    padding: 0.5%;
}

.footer-wrapper {
}

.footer {
  bottom: 0;
}

img {
    max-width: 100%;
}


.full-width,
.full-input-width > input {
    width: 100%;
}