{% extends "template.html" %}
{% block content %}

<div class="row">
  <div class="col-md-8">
    <h1 class="b-header" id="about">About</h1>
    <p class="description-text">
      Welcome to the first installment of Be-Music West!
      <br/>
      <br/>

      Be-Music West is a BMS event based in the west (America and Europe) for people who do not speak/read Japanese or Korean. The event has no genre rules or theme, and exists to create a more active community in the west.
      <br/>
      <br/>

      Though the event is aimed towards the western userbase, we highly encourage
      <strong>anyone</strong> to join!
      <br/>
      <br/>

      For those unfamiliar with BMS and BMS events, here is a short explanation:
      <br/>
      BMS is a format that allows you to simulate gameplay similar to beatmania, beatmania IIDX and pop'n music. Like these games, the BMS files come with keysounds that are played when you hit the corresponding notes in whichever BMS player you are using. The most popular BMS player for now is Lunatic Rave 2.
      <br/>
      <br/>

      The common method of distributing BMS files, is to enter BMS events (like this one!). BMS events are online happenings where people submit their own BMS files for evaluation by the general public. Anyone can then download their BMS files and play them, and then go on the BMS submission page and rate it!
      <br/>
      <br/>

      If you are new to the process of creating BMS files, then click
      <a href=https://docs.google.com/document/d/1ywUO5RxCP8jCM7MuFGFAS5TIRK2gsyM3-rMgvPuMEcw/edit?usp=sharing>
        <strong>here</strong>
      </a> for a document explaining everything you need to know!
      <br/>
      Alternatively, you could go
      <a href=https://docs.google.com/document/d/1gQKPWApeL03aO09-II7slxTeuvm3HO_FmY1D4chRvOQ/edit>
        <strong>here</strong>
      </a> for making BMSON files!
      <br/>
      <br/>

      We hope you take part in our event!

    </p>
  </div>
  {% include 'sidebar.html' %}
  <div class="col-md-1"></div>
</div>
{% endblock %}
