{% extends 'template.html' %}
{% block title %}
    {{ event.name }} @ becgi
{% endblock %}
{% block logo %}
<a href="{{url_for('event_index', event_id=event.id)}}">
    {% if event.banner_url and event.banner_url != "" %}
    <img class="img-responsive" src="{{event.banner_url}}" alt=""/>
    {% else %}
    <div class="b-header">{{event.name}}</div>
    {% endif %}
</a>
{% endblock %}
{% block stylesheets %}
{% if event.css_url and event.css_url != "" %}
<link href="{{event.css_url}}" rel="stylesheet" type="text/css">
{% endif %}
{% endblock %}
{% block extmenu %}
{% if event.are_submissions_open %}
<li>
    <a href="{{url_for('event_submit', event_id=event.id)}}">
        submit
    </a>
</li>
{% endif %}
{% if event.can_see_submissions %}
<li>
    <a href="{{url_for('event_songs', event_id=event.id)}}">
        songs list
    </a>
</li>
{% endif %}
{% endblock %}
