{% extends 'template.html' %}


{% block title %}
{{ event.name }} @ becgi
{% endblock %}


{% block logo %}
<a href="{{url_for('event_index', event_id=event.id)}}">
    <div class="b-header evt-header">{{event.name}}</div>
</a>
{% endblock %}
{% block stylesheets %}
{% if event.css_url and event.css_url != "" %}
<link href="{{event.css_url}}" rel="stylesheet" type="text/css">
{% endif %}
{% endblock %}


{% block banner %}
{% if event.banner_url and event.banner_url != "" %}
<div class="container container-fluid">
    <img src="{{event.banner_url}}" class="img-responsive center-block banner" alt=""/>
</div>
{% endif %}
{% endblock %}


{% block extmenu %}
{% if event.are_submissions_open %}
<li>
    <a href="{{url_for('event_submit', event_id=event.id)}}">
        submit
    </a>
</li>
{% endif %}
{% if event.can_see_submissions %}
<li>
    <a href="{{url_for('event_songs', event_id=event.id)}}">
        songs list
    </a>
</li>
{% endif %}
{% endblock %}

{% block precontent %}
<div class="container container-fluid text-center">
    <h1>{{event.name}}</h1>
</div>
{% endblock %}
