<div class="well well-md footer text-center">
    {% if event %}
    <div class="row">
        {% if event.email != "" %}
        <div class="col-sm-6 text-center">
            <a href="mailto:{{event.email}}">Event Contact</a>
        </div>
        {% endif %}

        {% if event.twitter != "" %}
        <div class="col-sm-6 text-center">
            <a href="https://twitter.com/{{event.twitter}}">Twitter</a>
        </div>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    <div class="row">
        <a href="https://github.com/zardoru/becgi">
            becgi
        </a>
        was created and is mantained by
        <a href="https://github.com/zardoru">Diego Ahumada</a>
        for the BMS community.
        <br/>
        All times and dates are in UTC.
    </div>
</div>
