{% extends "template.html" %}
{% block content %}
<h1 style="padding-left: 3%"> Songs list </h1>
<center>
<table class="table" style="width: 80%; table-layout: fixed">
	<tr><td><b>Song</b></td><td><b>Author(s)</b></td><td><b>BGA author</b></td><td><b>Link</b></td><td><b>Impressions</b></td></tr>
{% for song in entries %}
	<tr><td>{{song.name}}</td><td>{{song.author}}</td>
		<td>{% if song.bga_author != "" %}{{song.bga_author}}
			{% else %}
			{% endif %}
		</td>
		<td>{{song.link}}</td>
		<td><a href="/impressions/id/{{song.id}}">{{song.impression_count}} - Click this to see.</a></td>
	</tr>
{% endfor %}
</table>
</center>
{% endblock %}
