{% extends 'event_template.html' %}
{% block style %} {% endblock %}
{% block content %}

{% if entries|length > 0 %}
<h2 class="b-header"> Songs list </h2>

<p class="description-text">
  You'll find all submissions so far in here. </br>
  Click the song's name to find more information about it.
</p>

<table class="table" class="song-table">
    <tr>
        <th>
            <b>Song</b>
        </th>
        <th>
            <b>Author(s)</b>
        </th>
        <th>
            <b>Link</b>
        </th>
        <th>
            <b>Total Impressions</b>
        </th>
    </tr>
{% for song in entries %}
    <tr>
        <td>
            <a href="id/{{song.id}}">{{song.name}}</a></td>
        <td>{{song.display_name}}</td>
        <td><a href="{{song.link}}">Download</a></td>
        <td>{{song.impression_count}}</td>
    </tr>
{% endfor %}

</table>
{% else %}
<div class="text-center"><strong>No songs found yet.</strong></div>
{% endif%}
{% endblock %}
