{% extends "template.html" %}
{% block content %}

			<h1 style="padding-left:3%;" id="rules">Rules</h1>
			<div style="padding-left:5%; width:75%; font-family: 'Alegreya Sans'">
				<h2>Submission Rules (for bms authors)</h2> <br/>
				<ul>
					<li>BMS must be playable by LR2. (Autoplay)</li>
					<li>BMS must be keysounded. This means at least 70% of the notes must have a playable sound.</li>
					<li>Unreleased BMS only. The song can be released before the BMS.</li>
					<li>Submission must contain at least one Single Play chart (7keys or 5keys)</li>
					<li>Songs submitted without the consent of the author are not allowed. This includes arrangements and remixes.</li>
					<li>Any submissions infringing copyright will be removed.</li>
					<li>Any submissions deemed too offensive and/or controversial will be removed at sight.</li>
					<li>Though this is a western-based event, anyone is encouraged to enter!</li>
					<li>Modification of the archive during impression period is prohibited with the exception of major errors such as music not playing. If there has been a minor error, please upload a new archive with the updated/fixed files than can be extracted on top of the original.</li>
					<li>Late admissions will be allowed for 1 week, but you will have to contact the event organization.</li>
					<li>BMSON files are allowed - but be aware of their limitations in audience.</li>
				</ul>
				<h2>Impression Rules (for players)</h2>
				<ul>
					<li>Impression score will range from 0 through 100 points</li>
					<li>A single IP can only vote once per submission.</li>
					<li>Impression comments are prefered (and highly encouraged) in English.</li>
					<li>The winner is decided by log10 ([Number Impressions]) x [Average Score] </li>
					<li>Vandalism and Propaganda is prohibited.</li>
					<li>You’re not allowed to post impressions on your own submission.</li>
					<li>Impression period will be extended by 1 week if there are 30 or more submissions</li>
				</ul>
				<br/>
				<b>
					We recommend you use cloud drives such as Dropbox, OneDrive or Google Drive for uploading your BMS archives.
					An event package will be created after the registration period has concluded.
				</b>
			</div>
		</div>
		<hr/>

		<h2 id="info" style="padding-left:3%; margin-top: 45%" >Period Information</h2>
				<div style="margin-left: 5%">
					<b>Registration Period</b>: Jan. 9 ~ Jan.16 <br/> <br/>

					<b>Impression Period</b>: Jan. 16 ~ Jan. 30 <br/> <br/>

					<b>Event Organizers</b>: ドルフィン and Agka <br/> <br/>
				</div>
{% endblock %}
