{% extends "template.html" %}
{% block content %}


<h1 class="b-header" id="rules">Rules</h1>
<div class="description-text">
    <h2>Submission Rules
        <span class="subt">(for BMS creators)</span>
    </h2>
    <br/>
    <ul>
        <li>BMS must be playable by LR2. (Autoplay)</li>
        <li>For BMSON, it must be playable in
            <a href=http://bemuse.ninja/>Bemuse</a> or
        <a href=https://github.com/zardoru/raindrop>raindrop</a>.
    </li>
    <li>BMS must be keysounded. This means at least 70% of the notes must have a playable sound.</li>
    <li>Unreleased BMS/BMSON only. The song can be released beforehand.</li>
    <li>Submission must contain at least one Single Play chart (7keys or 5keys)</li>
    <li>Songs submitted without the consent of the author are not allowed. This includes arrangements, covers and remixes.</li>
    <li>Any submissions infringing copyright will be removed.</li>
    <li>Any submissions deemed too offensive and/or controversial will be removed at sight.</li>
    <li>Though this is a western-based event, anyone is encouraged to enter!</li>
    <li>Modification of the archive during impression period is prohibited with the exception of major errors such as music not playing.
        <br/>
                        If there has been a minor error, please upload an appenidx with the updated/fixed files than can be extracted over the original.
    </li>
    <li>Late admissions will be allowed for 1 week, but you will have to contact the event organization.</li>
    <li>BMSON files are allowed - but be aware of their limitations in audience.</li>
</ul>
<h2>Impression Rules
    <span class="subt">(for players)</span>
</h2>
<ul>
    <li>Impression score will range from
        <b>0</b> through
        <b>100</b> points
    </li>
    <li>A single person can only vote once per submission.</li>
    <li>Impression comments are preferred (and highly encouraged) in English.</li>
    <li>The winner is decided by
        <code>log10 ([Number Impressions]) x [Average Score]</code>
    </li>
    <li>Vandalism and Propaganda is prohibited.</li>
    <li>You’re not allowed to post impressions on your own submission.</li>
    <li>Impression period will be extended by 1 week if there are 30 or more submissions</li>
</ul>
<br/>
<b>
					We recommend you use cloud drives such as Dropbox, OneDrive or Google Drive for uploading your BMS archives.
    <br/>
                    An event package will be created after the registration period has concluded.
    <br/>
    <br/>
</b>

{% include 'sidebar.html' %}
</div>
{% endblock %}
