<div style="padding-left: 5px; height: 100%; position: fixed; right: 0; top: 0; background-color:rgb(240,240,240)">
    <div>
        <h2 id="info">Information</h2>
        <br/>
        <div style="margin-left: 5%">
            <b>Registration Period</b>: Jan. 9 ~ Jan.16
            <br/>
            <br/>
            <b>Impression Period</b>: Jan. 16 ~ Jan. 30
            <br/>
            <br/>
            <b>Event Organizers</b>: ドルフィン and Agka
            <br/>
            <br/>
        </div>
        <ul>
            <li>
                <a href="https://docs.google.com/document/d/1ywUO5RxCP8jCM7MuFGFAS5TIRK2gsyM3-rMgvPuMEcw/edit?usp=sharing">BMS creation notes</a>
            </li>
            <li>
                <a href="https://docs.google.com/document/d/1gQKPWApeL03aO09-II7slxTeuvm3HO_FmY1D4chRvOQ/edit">BMSON creation notes</a>
            </li>
        </ul>
        <div>
            <a class="twitter-timeline" href="https://twitter.com/BeMusicWest" data-widget-id="640202301156757504">Tweets by @BeMusicWest</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
