{% extends "event_template.html" %}
{% block style %} "display: inline-block; width: 100%" {% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="text-center text-danger bg-danger">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="text-center">
    <h1 class="subt">Song Information </span></h1>
    <h2> {{song.name}} </h2>
    <h3><span class="subt">by</span> {{song.display_name}} </h3>
    {% if song.bga_author != "" and song.bga_author %}
    <h3><span class="subt">bga by</span> {{song.bga_author}} </h3>
    {% endif %}
</div>
<hr/>
<h3 class="text-center"> Description </h3>
<div class="well well-sm">
    {{ song.description|e|markdown }}
</div>
<center>
    <a class="btn btn-default" href="{{song.link}}"><h4> Download </h4></a>
</center>
<br/>

<div class="text-center">
    <form action="{{url_for('event_edit_entry', event_id=event.id, song_id=song.id)}}" method="post">
        {{ pwform.csrf_token }}
        {{ pwform.token.label }} <br/>
        {{ pwform.token }} <br/>
        <input type="submit" value="Modify Entry"/>
    </form>
</div>

<br/> <br/>
<hr/>

<div class="text-center">
    <h3>Impressions</h3>
    {% if impression_count == 0 %}
    <center>Nothing to show.</center>
    {% else %}
    <h4>
        <span style="color:darkgrey">Total Impressions: </span>
        <b>{{impression_count}}</b>
    </h4>
    {% if event.scoring_method != 0 %}
    <h4>
        <span style="color:darkgrey">Total Score: </span>
        <b>{{rating}}</b>
    </h4>
    {% endif %}
    <br/>
</div>

{% for impression in impressions %}
<div class="well well-sm">
    <b>Name</b> {{impression.author}} <br/>
    {% if event.scoring_method != 0 %}
    <b>Rating</b> {{impression.rating}} <br/>
    {% endif %}
    {% if impression.comment != "": %}
    <b>Comment</b> <br/>
  <span class="text-left">
  {{ impression.comment|e|markdown }}
  </span>
    {% endif %}
</div>
{% endfor %}
{% endif %}


{% if is_impression_period: %}
<center>
    <h3> Leave your own! </h3>
    <form action="{{url_for('event_submit_impression', event_id=event.id, song_id=song.id)}}" method="post">
        {{form.csrf_token}}

        <table class="table submit-table" style="">
            <tr>
                <td>{{form.author.label}}</td>
                <td>{{form.author}}</td>
            </tr>
            {% if event.scoring_method != 0 %}
            <tr>
                <td>{{form.rating.label}}</td>
                <td>{{form.rating}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{form.comment.label}}</td>
                <td>{{form.comment}}</td>
            </tr>
            <tr>
                <td>Captcha</td>
                <td>{{form.captcha}}</td>
            </tr>
        </table>
        <input type="submit" value="Submit impression"/>
    </form>
</center>

<br/>
{% endif %}

{% endblock %}
