{% extends "event_template.html" %}
{% block head %}

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
<h2 class="b-header"> Submit entry to {{event.name}}!</h2>
<br/>
<center>
    <p class="description-text">
        Fill in all the details below. </br>
        Try to leave a valid email.</br>
        Any modifications to your entry </br>
        must be sent to the event e-mail at <strong>{{event.email}}</strong>  </br>
        from the email you've put in here, or else they will be ignored! </br>
    </p>
    <form action="submit/handle_submit" method="post">
        {{form.csrf_token}}
        <table class="table submit-table content">
            <tr>
                <td>{{form.bms_name.label}}</td>
                <td>{{form.bms_name}}</td>
            </tr>
            <tr>
                <td>{{form.bms_author.label}}<br/>{{form.bms_author.description}}</td>
                <td>{{form.bms_author}}</td>
            </tr>
            {% if event.use_fake_name %}
            <tr>
                <td>{{form.fake_author.label}}<br/>{{form.fake_author.description}}</td>
                <td>{{form.fake_author}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{form.bga_author.label}}</td>
                <td>{{form.bga_author}}</td>
            </tr>
            <tr>
                <td>{{form.description.label}}</td>
                <td>{{form.description}}</td>
            </tr>
            <tr>
                <td>{{form.bms_link.label}}</td>
                <td>{{form.bms_link}}</td>
            </tr>
            <tr>
                <td>{{form.bms_email.label}}</td>
                <td>{{form.bms_email}}</td>
            </tr>
            <tr>
                <td>Captcha</td>
                <td>{{form.captcha}}</td>
            </tr>
        </table>
        <hr/>
        <input type="submit" value="Submit entry!">
    </form>
</center>
{% endblock %}
