{% extends "template.html" %}
{% block head %}
		
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block style %} "text-align: center" {% endblock %}
{% block content %}
		
<center>
    <form action="/submit/handle_submit" method="post" style="margin-left: 20%; margin-right: 20%; font-family: 'Alegreya Sans'">
			{{form.csrf_token}}
			
        <table class="table">
            <tr>
                <td>{{form.bms_name.label}}</td>
                <td>{{form.bms_name}}</td>
            </tr>
            <tr>
                <td>{{form.bms_author.label}}</td>
                <td>{{form.bms_author}}</td>
            </tr>
            <tr>
                <td>{{form.bms_link.label}}</td>
                <td>{{form.bms_link}}</td>
            </tr>
            <tr>
                <td>Captcha</td>
                <td>{{form.captcha}}</td>
            </tr>
        </table>
        <hr/>
        <input type="submit" value="Submit entry!">
        </form>
    </center>
{% endblock %}
