{% extends "event_template.html" %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% macro do_field(field) %}
    <div class="row">
        <div class="col-md-5 text-left">{{ field.label }}<br/>{{ field.description }}</div>
        <div class="col-md-7 full-input-width">{{ field(**kwargs)|safe }}</div>
    </div> <br/>

    {% if field.errors %}
    <div class="row">
        <div class="alert alert-danger">
            <ul>
                {% for error in field.errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
    </div> <br/>
    {% endif %}
{% endmacro %}

{% macro frmurl() %}
    {% if modify %}
        {{url_for('event_update_entry', event_id=event.id, song_id=song.id)}}
    {% else %}
        {{url_for('event_handle_submission', event_id=event.id)}}
    {% endif %}
{% endmacro %}

{% block content %}
<h2 class="b-header">
    {% if modify: %}
    Update entry for {{event.name}}!
    {% else %}
    Submit entry to {{event.name}}!
    {% endif %}
</h2>
<br/>
<center>
    <p class="description-text">
        Fill in all the details below.
        Try to leave a valid email.<br/>
        If you lose your token, any modifications to your entry
        must be sent to the event e-mail at <strong>{{event.email}}</strong>  <br/>
        from the email you've put in here, or else they will be ignored! <br/>
    </p>
    <br/>
    <form action="{{frmurl()}}" method="post">
        {{form.csrf_token}}
        <div class="submit-table full-width content well well-lg">
            {{ do_field(form.bms_name) }}
            {{ do_field(form.bms_author) }}
            {% if event.use_fake_name %}
               {{ do_field(form.fake_author) }}
            {% endif %}
            {{ do_field(form.bga_author) }}
            {{ do_field(form.description) }}
            {{ do_field(form.bms_link) }}
            {{ do_field(form.bms_email) }}
            {{ do_field(form.captcha) }}
            {% if modify %}
                {{ form.token }}
            {% endif %}

            {% if modify %}
            <input type="submit" value="Update entry!">
            {% else %}
            <input type="submit" value="Submit entry!">
            {% endif %}
        </div>
    </form>
</center>
{% endblock %}
