<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {% block title %} becgi {% endblock %} </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static', filename='becss.css')}}" rel='stylesheet' type='text/css'>
    {% block stylesheets %}
    {% endblock %}
    {% block head %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand logo">
                {% block logo %}
                <div class="b-header">
                    becgi event system
                </div>
                {% endblock %}
            </div>
        </div>
        <ul class="nav navbar-nav">
            {% block menu %}
            <li>
                <a href="{{url_for('about')}}">
                    <strong>about becgi</strong>
                </a>
            </li>
            <li>
                <a href="{{url_for('events_list_index')}}">
                    <strong>event list</strong>
                </a>
            </li>
            {% endblock %}
            {% block extmenu %}

            {% endblock %}
        </ul>
    </div>
</nav>
<div class="container container-fluid content">
    <p class="content">
        {% block content %} {% endblock %}
    </p>
</div>
{% include 'footer.html' %}
</body>
</html>
